body{
	color: #f1f1f1;
	font-family: "avenir", sans-serif;
	height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;	
background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #24c6dc, #514a9d)fixed;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #24c6dc, #514a9d)fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
/*background: #4CB8C4;  /* fallback for old browsers */
	/*background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
	/*background: linear-gradient(to right, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}	
	#panelprj,#fprj{
			
			width: 100%;
		}#prj,#flipprj{
		 font-size: .6em;
		 color:gray;
		 padding-left: 8%;	 
		 }
	
		 a{
			color: #f1f1f1;
			text-decoration: none; 


		}
		a:hover{
			text-decoration: underline;
		}
	
	p{
		margin:0 auto;
		text-align:center; 
		font-size:1.3em;
	}	
	h1{
		font-family: 'Billabong';
		text-align: center;
	}
	#icn{
		color:#f1f1f1;
		text-align: center;
		font-size: 30px;
		bottom: 0;
			}

	#icn:hover{
		color: black;
		font-size: 28px;
		}

		#quote{
		color:#f1f1f1;
		 text-align:center;
		 font-size:2em;
		 font-family: 'Pacifico', cursive;
	}
	#proPic{ 
		height:270px ;
		width:260px;
		border-radius:15% ;
		text-align: center;   
	}
#makeMeSmall{visibility: hidden;}

i{
	font-size: 26px;
}
#proj{
	height:160px;
	width: 230px;
	box-shadow: 4px 4px gray;
  	transition: box-shadow 3s ease-in-out;
  	
  	transition: width 0.3s ease-in-out;
  	float: ;
  	clear: ;
}
#proj:hover{
    box-shadow: 10px 10px #202020;
	width: 231px; 

}
#left{
	float: left;
	margin-left: 20%;
	margin-top: -19%;
		
}
#right{
	float: right;
	margin-right: 42%;
	margin-top: -2%;
		
}
#api{
	float: right;
	margin-right: 20%;
	margin-top:-19%;
}
#quiz{
	float: left;
	margin-left: 65%;
	margin-top:-18%;
}