html{
	height: 100%;
}
.mobileHide{
	display: none;
}
body{
	background: #42e2f4;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #26D0CE, #1A2980)fixed;  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top,#26D0CE, #1A2980)fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-attachment: fixed;
}
a{
		color: #202020;
		text-decoration: none; 
	}
 a:hover{
		color: ;
	}
p{
	text-align:center;
}
h1{
	text-align: center;
	color:gray; 
	}
#fedu,#fskl,#fprj,#fint,#fint,#fintro{
	display: inline-block;
	font-size: .4em;
	margin:2.5%;
	color: gray;
	 }

#proj{
	margin:0 auto;
	height:105px;
	width: 160px;
	box-shadow: 4px 4px gray;
  	transition: box-shadow 0.3s ease-in-out;
  	transition: height 0.3s ease-in-out;
  	transition: width 0.3s ease-in-out;
  	float: ;
  	clear: ;
}
#proj:hover{
    box-shadow: 6px 6px gray;
	height:110px;
	width: 164px; 

}