.mobileHide{
	display: none;
}
h1#name:hover{color:#202020;}

#icn{
		color:#40E0D0;
		font-size: 40px;
		bottom: 0;	
	}
	#social{
		color:#f1f1f1;
		text-align: center;
		font-size: 22px;
		bottom: 0;
	}
	#social:hover{
		color: #202020;
	}
#name{
	 color:#40E0D0;
	 text-align:center;
	 font-size:2.5em;
	 margin-top:0;
	 font-family: 'Pacifico', cursive;

}
  .timeline{
	margin-top:;
	font-size: .6em;
	color: #9ea4aa;
	font-weight: 300;
	font-family: "avenir", sans-serif;
	padding-bottom: 30%;
	}

#panelskl,#panelprj,#panelint,#paneledu,#sklshow{
		display: none;
	}

i{
	color: #40E0D0;
}
	p a{
		color: #40E0D0;
		text-decoration: none;
	}
	 a:hover{
		color: #202020;
		text-decoration: line-through ; 
	}
p{
	margin:0 auto;
	text-align:center; 
	font-size:2em;
}	

h1{
	text-align: center;
	font-size: 3em;
	color: white;
}
#proPic{
	height: 180px;
	width: 180px;
	border-radius: 20%;
}
#icn{
		color:#40E0D0;
		font-size: 26px;
		bottom: 0;	
	}

	#icn:hover{
		color: #202020;
		font-size: 28px;
		}
	#fintro{
		font-size: .8em;
	}
#fedu,#fskl,#fprj,#fint,#fint,#fintro{
	display: inline-block;
	font-size: .5em;
	margin:2.5%;
	 }
#makeMeSmall{
	font-size: .5em;
}
.desktopHide{
	text-align: center;
}

.bottomNavbar{
	text-align: center;
	width: 100%;
	background-color: #40E0D0;
	position: fixed;
	bottom: 0;
	left: 0;
	opacity: .9;
	padding-left: 2.2%;
}
